@{
    ViewData["Title"] = "About";
}

<h1>Technical requirements sent by Konul Samadova.</h1>
<p>
    Texniki tapşırıq aşağıda diqqətinizə çatdırılır:<br/>
    Texniki tapşırıq olaraq “File To DB parser” yazmağınız gərəklidir.<br/>
    Bunun üçün sizə bir “transactions.txt” adında bir fayl təqdim edirik.<br/>
    Bu fayl içərisi xüsusi strukturda yazılmış əməliyyatların siyahısı qeyd olunmuşdur.<br/>
    Sizdən gözləntimiz bu məlumatları eyni strukturla MSSql database-nə yazmağınızdır.
</p>

<ul>
    <li>Proqram WEB application olmalıdır</li>
    <li>İstifadəçi ekrandakı fayl seçimi yerinə tıklayıb faylı proqrama yükləməlidir.</li>
    <li>Yüklədikdən sonra məlumatları ekranda göstər düyməsinə basdıqda proqram fayldakı məlumatları bazadakı cədvələ yazmalıdır.</li>
    <li>Sonra sql sorğusu vasitəsilə cədvəldəki məlumatları grid şəklində ekranda göstərməlidir.</li>
</ul>

<p>
    Tapşırığı həll edib, 10.01.2022-ci il tarixində geri göndərməyiniz Sizdən xahiş olunur.
</p>